@charset "utf-8";
/* CSS Document */

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
    font-family: 'Dosis', sans-serif;
    margin: 0;
    background: #222;
    color: #fff;
}

#header {
    text-align: center;
    padding: 20px 0;
    font-size: 50px;
}

.status {
    position: absolute;
    width: 100%;
    background: #222;
    z-index: 10;
    text-align: center;
    top: 0;
    height: 100%;
    padding-top: 50px;
}

.wrapper {
    width: 500px;
    margin: 0 auto;
}

.status h3 {
    font-size: 30px;
    font-weight: normal;
    margin: 10px;
}

.status #teamTurn {
    font-weight: bold;
    color: #16a085;
}

#start_button:before, #start_button:after {
    font-size: 75px;
    position: absolute;
    top: -15px;
}

#start_button:before {
    content: '[';
    left: 0;
}

#start_button:after {
    content: ']';
    right: 0;
    font-weight: bold;
}

#start_button {
    width: 225px;
    position: relative;
    margin: 0 auto;
    height: 60px;
    padding-top: 10px;
    text-transform: lowercase; 
}

#controls {
    position: absolute;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    margin-top: 75px;
}

#incorrect-btn {
    float: left;
}

#correct-btn {
    float: right;
}

.button img {
    height: 50px;
}

.cards {
    text-align: center;
    position: relative;
    width: 200px;
    height: 210px;
    margin: 0 auto;
}

.card {
    position: absolute;
    display: table;
    width: 200px;
    height: 200px;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    border-radius: 5px;
    z-index: 1;
    transform: scale(.85);
    top: -20px;
    transition: .5s all;
}

.cards .card:nth-child(1) {
    z-index: 6;
    transform: scale(1);
    top: 10px;
    transition: 0s all;
}

.cards .card:nth-child(2) {
    z-index: 5;
    transform: scale(.95);
    top: 0;
}

.cards .card:nth-child(3) {
    z-index: 4;
    transform: scale(.9);
    top: -10px;
}

.cards .card:nth-child(4) {
    z-index: 3;
    transform: scale(.85);
    top: -20px;
}

.cards .card:nth-child(5) {
    z-index: 2;
}

/*.cards.transition .card:nth-child(1) {
    opacity: .5;
}

.cards.transition.correct .card:nth-child(1) {
    margin-left: 75px;
}

.cards.transition.incorrect .card:nth-child(1) {
    margin-left: -75px;
}*/

.cards.transition .card:nth-child(2) {
    transform: scale(1);
    top: 10px;    
}

.cards.transition .card:nth-child(3) {
    transform: scale(.95);
    top: 0;
}

.cards.transition .card:nth-child(4) {
    transform: scale(.9);
    top: -10px;
}

.cards.transition .card:nth-child(5) {
    transform: scale(.85);
    top: -20px;
}

.card .word {
    display: table-cell;
    vertical-align: middle;
}

.scores {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    transition: all .5s;
    z-index: 10;
}

.scores.hide {
    bottom: -35px;
}

.score {
    display: inline-block;
    position: relative;
    width: 70px;
    height: 10px;
    font-size: 25px;
    border-radius: 5px 5px 0 0;
    text-align: center;
    margin: 10px 5px 0;
    vertical-align: bottom;
    transition: all .5s;
}

.score span {
    position: absolute;
    margin-top: -30px;
    left: 0;
    width: 100%;
    top: 0;
}

#team1 {
    background: #16a085;
    color: #16a085;
}

#team2 {
    background: #27ae60;
    color:  #27ae60;
}

#team3 {
    background: #2980b9;
    color: #2980b9;
}

#team4 {
    background: #8e44ad;
    color: #8e44ad;
}